<section class="contact fullwidth" id="contact">
	<div class="contact__content">
		<div class="contact__headline">
		<span>say</span>
		<span>hello</span>
		</div>
		<p class="contact__text">
			Thanks for checking out my portfolio! If you're interested in what I do or have a project you want to collaborate on, please reach out to me. I'd love to hear from you.
		<%= link_to "hello@rosalynnas.com", "mailto:hello@rosalynnas.com", class: "contact__email" %>
		</p>
	</div>
</section>
