<section class="project">
	<div class="project__text">
		<h3>SYNA</h3>
		<p>SYNA is a 3D spatial notetaking app that enables users to take notes in a nonlinear fashion that is illustrative of how humans process information.</p>
		<p>SYNA is short for "synapse." Neurons are specialized cells which pass signals to individual target cells, and synapses are the means by which they do so. They can be seen as representing the union between two separate elements.</p>
		<p>The app allows users to represent concepts and ideas as neurons and relate them together via synapses. The interconnected web is modelled in 3D for use as a dictionary for reference or studying.</p>
		<h4>CURRENT FOCUS</h4>
		<p>My current focus is on SYNA′ (pronounced sigh-na prime) which is a derivation of the core app. This proof of concept demonstrates the technology with topics in calculus.</p>
	</div>
</section>


<section class="project even">
	<div class="project__text">
		<h3>KATO</h3>
		<p>KATO is a concept store of pre-loved and sustainable clothing and homewares.</p>
		<p>I've always loved researching unique and interesting brands from all over the world. My intent with KATO is to evolve this research into curated collection of brands with sustainable visions, strong female leadership, or dedication to creating products that will last for generations to come.</p>
		<p>KATO is short for “katoptrizo,” the phonetic sound of the Greek word meaning "to reflect" (κατοπτρίζω). It is a nod to reflecting inward on the purchasing choices we make and their effect on the world. It is move towards slow fashion and intentional living.</p>
		<h4>CURRENT FOCUS</h4>
		<p>My current focus for KATO is on branding, website design, and market research.</p>
	</div>
</section>
