<h1 class="test">Hello world!</h1>


<figure>
    <%= image_tag('painting-pattern-1-vojtech-bruzek-min.jpg',
        alt: 'blue white and yellow abstract painting', height: '350px') %>
    <figcaption>Painting Patten 1 by Vojtech Bruzek</figcaption>
</figure>

<figure>
    <figcaption>Painting Patten 1 by Vojtech Bruzek</figcaption>
    <%= image_tag('painting-pattern-1-vojtech-bruzek-min.jpg',
        alt: 'blue white and yellow abstract painting', height: '250px') %>
</figure>
