.copyright {
  display: block;
  width: 100%;
  text-align: center;
  padding: 2rem;
  text-transform: uppercase;
  font-family: "GT Eesti Display";
  font-size: 1rem;

  @include respond(tab-port) {
    font-size: 0.8rem;
  }
}
