.topnav,
.leftnav,
.email {
  font-family: "GT Eesti Display";
  text-transform: uppercase;
  font-size: 1.3rem;

  @include respond(desktop) {
    font-size: 1rem;
  }
}

.topnav {
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: calc(100vw - 2rem);
  text-align: right;
  text-transform: uppercase;

  &__title {
    margin: 0;
    margin-top: 2rem;
  }

  &__text {
    margin: 0;

    span {
      display: block;
    }
  }

  @include respond(tab-port) {
    width: calc(100vw - 2rem);
    justify-content: space-between;
    flex-direction: row;

    &__text {
      text-align: right;
    }

    &__title {
      margin-top: 0;
    }
  }

  @include respond(desktop) {
    width: calc(50vw + 2rem);
  }
}

.leftnav {
  z-index: 1;
  display: flex;
  height: calc(100vh - 1rem);
  justify-content: center;
  left: 1rem;
  top: 0;
  position: fixed;
  writing-mode: vertical-lr;

  &__link:not(:last-child)::after {
    content: "|";
    display: inline-block;
    margin: 1rem 0;
  }

  &__link {
    display: block;
    text-decoration: none;
  }
}

.email {
  z-index: 1;
  height: 100vh;
  position: fixed;
  right: 1rem;
  text-align: center;
  writing-mode: vertical-lr;
}

.social {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0.75rem;
  bottom: 1rem;

  img {
    margin-top: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  @include respond(tab-port) {
    img {
      height: 1.1rem;
      width: 1.1rem;
      margin-top: 0.7rem;
    }
  }
}
