.contact {
  display: flex;
  justify-content: center;
  justify-items: flex-end;
  align-items: flex-end;

  &__content {
    min-height: calc(100vh - 4rem);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    &:after {
      content: "";
      display: block;
      width: 18vw;
      margin-left: 4rem;
      height: 100%;
      position: absolute;
      background-image: url(painting-pattern-1-vojtech-bruzek-min.jpg);
      background-size: cover;
      background-position: right;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }

  &__headline {
    margin-left: 35vw;
    font-size: 4rem;
    text-transform: uppercase;

    span {
      display: block;

      &:last-child {
        transform: translate(-0.4rem, 0);
      }
    }
  }

  &__text {
    font-family: "GT Eesti Display";
    width: 45%;
    font-size: 1.6rem;
    line-height: 1.5;
    text-transform: uppercase;
    margin-left: 35vw;

    @media screen and (max-width: 321px) {
      font-size: 1.4rem;
    }
  }

  &__email {
    display: block;
    margin-top: 1rem;
    text-decoration: none;
  }

  @include respond(tab-port) {
    align-items: center;

    &__content {
      min-height: 60vh;
      width: 40rem;
      align-items: flex-end;

      &:after {
        width: 40%;
        height: 100%;
        margin-left: 0;
      }
    }

    &__headline {
      font-size: 7rem;
      transform: translate(-3.5rem, 0);
    }

    &__text {
      width: 43%;
      font-size: 1.5rem;
      transform: translate(-3.5rem, 0);
    }
  }

  @include respond(desktop) {
    &__headline {
      margin-top: 0;
      font-size: 7rem;
      transform: translate(-3.5rem, 0);
    }

    &__text {
      width: 46%;
      font-size: 0.9rem;
    }
  }
}
